*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    background:#111;
    color:white;
}

.navbar{
    background:#222;
    padding:20px;
    text-align:center;
    border:2px solid #ff0000;
    border-radius: 20px;
}

.images{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap:20px;
    padding:30px;
    
}

.images img{
    width:100%;
    height:250px;
    object-fit:cover;
    border-radius:10px;
    cursor:pointer;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.images img:hover{
    transform: scale(1.08);
    box-shadow:0 10px 25px rgba(0,0,0,0.6);
}
